.section{
    background-color: #E3F0EE;
    display: flex;
    flex-wrap: wrap;
    background: e3f0ee;
    gap: 1.5rem;    
}
.aboutimg{
    flex: 1 1 17 rem;
    margin: 5%;
}
.abouttxt{
    
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.abouttxt h2{
    

    margin-top: 2%;
    margin-bottom: 4%;
}

.abouttxt h5{
    

    margin-top: 2%;
    margin-bottom: 4%;
}